.link.payment
	= link_to 'New Payment', new_debt_payment_path(@debt)
.link.charge
	= link_to 'New Charge', new_debt_charge_path(@debt)
.link.note
	= link_to 'New Note', new_debt_note_path(@debt)
.link.phone_call
	= link_to 'New Phone Call', new_debt_phone_call_path(@debt)
