
@import "palette";
@import "sections";
@import "form";
@import "project";
@import "user";
@import "story";

.debug1 {
	border: 1px solid #f00;
}

.debug2 {
	border: 1px solid #0f0;
}

.debug3 {
	border: 1px solid #00f;
}

a {
	text-decoration: none;
	color: @link_color;
}

a:hover {
	color: @link_hover_color;
}

body {
	background-color: @background_color;
	color: @foreground_color;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 10px;
}

.clear {
	clear: both;
}

.message {
	margin-top: 10px;
	width: 50%;
	margin-left: 25%;
	text-align: center;
	padding: 5px;
}

.message.notice {
	border: 1px solid @notice_border_color;
	color: @notice_color;
	background-color: @notice_background_color;
}

.message.error {
	border: 1px solid @error_border_color;
	color: @error_color;
	background-color: @error_background_color;
}

.page_header {
	padding-left: 10px;
	height: 25px;
	float: right;
	width: 300px;
	background-color: @header_background_color;
	color: @header_foreground_color;
	font-size: 1.4em;
}

.page_header span.version {
	font-size: 0.6em;
}

.page {
	padding: 20px;
}

.file_list .indent {
	padding-left: 15px;
	display: inline;
}

.chat {
	border: 1px solid black;
	border-right: 0;
	background-color: white;
	width: 310px;
	position: fixed;
	top: 25px;
	right: 0px;
	height: 300px;
}

.sub_navigation {
	display: inline-block;
}

.sub_navigation.project_navigation {
	background-color: @foreground_color;
}

.sub_navigation.project_title {

	.project_title {
		color: @foreground_color;
	}
}

.navigation.old {
	background-color: @navigation_background_color + #444444;
	border-bottom: 2px solid #ffc000;
	height: 25px;

	.link {
		display: inline-block;
		padding: 5px;
	}

	.link.active {
		background-color: @navigation_hover_background_color;
	}

	.link a {
		color: @navigation_link_color;
		font-weight: bold;
	}

	.link:hover {
		background-color: @navigation_hover_background_color;
	}

	.link:hover a {
		color: @navigation_hover_link_color;
	}
}

.navigation {
	height: 30px;
	background-color: @navigation_background_color;
	padding: 0px 20px 0px 20px;

	.title {
		color: #ffffff;
		font-weight: bold;
		display: inline-block;
		padding: 7px 10px 7px 0px;
		font-size: 10px;
	}

	.new_project {
		display: inline-block;
		margin-left: 15px;
		background-color: #00a3d7;
		font-weight: bold;
		font-size: 1.2em;
		padding: 8px 10px 8px 10px;
		color: #fff;
	}

	.project_dropdown {
		display: inline-block;
		position: relative;

		.title {
			color: #ffffff;
			display: inline-block;
			background-color: #869b9a;
			padding: 7px 10px 7px 10px;
			width: 300px;
			margin-left: 0px;

			.name {
				display: inline-block;
				font-weight: bold;
			}
		}

		.project_dropdown_menu {
			position: absolute;
			z-index: 999;
			background-color: #eff3f3;

			.row:first-child {
				border: none;
			}

			.row {
				width: 450px;
				border-top: 1px solid #c0cdcd;
			}

			.headers {
				font-weight: bold;
				background-color: #dfe3e3;

				.field.bl,
				.field {
					background-color: #dfe3e3;
				}
			}

			.field {
				display: inline-block;
				padding: 4px 10px 4px 10px;
			}

			.field.expand {
				width: 30px;
				padding: 2px 5px 2px 5px;
			}

			.field.client {
				width: 142px;
			}

			.field.bl {
				width: 222px;
				background-color: #d2fffd;

				.row1:first-child {
					border: none;
				}

				.row1 {
					display: inline-block;
					width: 100%;
					border-top: 1px solid #c0cdcd;
					padding: 4px 0px 4px 0px;
				}
			}
		}
	}

	.nav_tabs {
		margin-left: 10px;
		display: inline-block;
		
		.nav_tab {
			padding: 10px 10px 9px 10px;
			margin-left: 3px;
			background-color: #5e7373;
			font-weight: bold;
			color: #ffffff;
			display: inline-block;
			
			a {
				color: #ffffff;
			}
		}

		.nav_tab:hover {
			background-color: #ffffff;
			color: #000000;

			a {
				color: #000000;
			}
		}

		.nav_tab.active {
			background-color: #ffffff;
			color: #000000;

			a {
				color: #000000;
			}
		}
	}

	.nav_user_menu {
		padding: 0px 10px 0px 0px;
		float: right;
		display: inline-block;

		.nav_sub_menu {
			padding: 7px 10px 8px 10px;
			font-weight: bold;
			display: inline-block;
			color: #ffffff;
			margin-right: 10px;

			a {
				color: #ffffff;
			}
		}

		.nav_sub_menu.active,
		.nav_sub_menu:hover {
			background-color: #ffffff;
			color: #000000;

			a {
				color: #000000;
			}
		}
	}

}


.ui-datepicker {
	background-color: #000;
	color: #fff;

	a {
		color: #fff;
	}
}

@import "formtastic_changes";
