
@import "palette";
@import "sections";
@import "form";
@import "project";
@import "user";
@import "story";
@import "sprint";

.debug1 {
	border: 1px solid #f00;
}

.debug2 {
	border: 1px solid #0f0;
}

.debug3 {
	border: 1px solid #00f;
}

a {
	text-decoration: none;
	color: @link_color;
}

a:hover {
	color: @link_hover_color;
}

body {
	background-color: @background_color;
	color: @foreground_color;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 9px;
}

.clear {
	clear: both;
}

.message {
	width: 50%;
	text-align: left;
	padding: 10px;
}

.message.notice {
	color: @notice_color;
	background-color: @notice_background_color;
}

.message.error {
	border: 1px solid @error_border_color;
	color: @error_color;
	background-color: @error_background_color;
}

.page_header {
	padding-left: 10px;
	height: 25px;
	float: right;
	width: 300px;
	background-color: @header_background_color;
	color: @header_foreground_color;
	font-size: 1.4em;
}

.page_header span.version {
	font-size: 0.9em;
}

.page {
	padding: 10px;
}

.file_list .indent {
	padding-left: 15px;
	display: inline;
}

.chat {
	border: 1px solid black;
	border-right: 0;
	background-color: white;
	width: 310px;
	position: fixed;
	top: 25px;
	right: 0px;
	height: 300px;
}

.sub_navigation {
	display: inline-block;
}

.sub_navigation.project_navigation {
	background-color: @foreground_color;
}

.sub_navigation.project_title {

	.project_title {
		color: @foreground_color;
	}
}

.navigation.old {
	background-color: @navigation_background_color + #444444;
	border-bottom: 2px solid #ffc000;
	height: 25px;

	.link {
		display: inline-block;
		padding: 5px;
	}

	.link.active {
		background-color: @navigation_hover_background_color;
	}

	.link a {
		color: @navigation_link_color;
		font-weight: bold;
	}

	.link:hover {
		background-color: @navigation_hover_background_color;
	}

	.link:hover a {
		color: @navigation_hover_link_color;
	}
}

.navigation {
	height: 30px;
	background-color: @navigation_background_color;
	padding: 0px 20px 0px 20px;

	.title {
		color: #ffffff;
		font-weight: bold;
		display: inline-block;
		padding: 7px 10px 7px 0px;
		font-size: 10px;
	}

	.new_project {
		display: inline-block;
		margin-left: 6px;
		background-color: #00a3d7;
		font-weight: bold;
		font-size: 1.2em;
		padding: 9px 10px;
		color: #fff;
	}

	.project_dropdown {
		display: inline-block;
		position: relative;

		.title {
			color: #ffffff;
			display: inline-block;
			background-color: #869b9a;
			padding: 10px 10px 9px 10px;
			width: 245px;
			margin-left: 0px;
			font-size: 10px;

			.name {
				display: inline-block;
				font-weight: bold;
			}
		}

		.project_dropdown_menu {
			position: absolute;
			z-index: 999;
			background-color: #eff3f3;

			.row:first-child {
				border: none;
			}

			.row {
				width: 265px;
				border-top: 1px solid #c0cdcd;
			}

			.headers {
				font-weight: bold;
				background-color: #dfe3e3;

				.field.bl,
				.field {
					background-color: #dfe3e3;
					display: none;
				}
			}

			.field {
				display: inline-block;
				padding: 0px;
			}

			.field.expand {
				width: 0px;
				padding: 2px 5px 2px 5px;
			}

			.field.client {
				width: 80px;
				text-align: right;
			}

			.field.bl {
				background-color: #d2fffd;

				.row1:first-child {
					border: none;
				}

				.row1 {
					width: 169px;
					border-top: 1px solid #c0cdcd;
					
					a {
						width: 150px;
						padding: 4px 10px;
						display: block;
					}
				}
			}
		}
	}

	.nav_tabs {
		display: inline-block;
		
		.nav_tab {
			font-weight: bold;
			color: #ffffff;
			display: inline-block;
			text-transform: uppercase;
			margin-left: 3px;
			
			a {
				color: #ffffff;
				padding: 11px 10px 9px 10px;
				background-color: #7a7a7a;
			}
		}

		.nav_tab a:hover {
			background-color: #ffffff;
			color: #000000;

			a {
				color: #000000;
			}
		}

		.nav_tab.active {
			background-color: #ffffff;
			color: #000000;

			a {
				background-color: #ffffff;
				color: #000000;
			}
		}
	}

	.nav_user_menu {
		padding: 0px 10px 0px 0px;
		float: right;
		display: inline-block;

		.nav_sub_menu {
			padding: 10px 10px 8px 10px;
			font-weight: bold;
			display: inline-block;
			color: #ffffff;
			margin-right: 10px;

			a {
				color: #ffffff;
			}
		}

		.nav_sub_menu.active,
		.nav_sub_menu:hover {
			background-color: #ffffff;
			color: #000000;

			a {
				color: #000000;
			}
		}
	}

}

.project .project_value_statements .data {
	font-size: 10px;
	vertical-align: top;
	line-height: 1.2em;
	}

.story_list .title {
	font-size: 11px;
	font-weight: bold;
	padding: 1px 0 0 10px;
}

input, textarea, .best_in_place {
	    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
}

.page .story_list select {
   background: transparent;
   width: 100%;
   padding: 0px;
   font-size: 9px;
   border: 0px solid;
}

.page .story_list input, .page textarea {
   width: 100%;
   display: inline-block;
   border: 0px solid;
   background: transparent;
   font-size: 9px;
   font-family: arial;
   background-color: #ffc;
   padding: 5px;
   border-top: 1px solid #D8EB5E;
   border-left: 1px solid #D8EB5E;
}

.page .story_list .new_sub_item input {
	background-color: #fff;
	border-top: 0px;
	border-bottom: 1px solid #ccc;
}

iframe.test_output_url {
	width: 100%;
	min-height: 600px;
	height: 600px;
	border: 0;
}

@import "formtastic_changes";
