
.sprint_navigation {
	.phase_tab.new_phase,
	.sprint_tab.new_sprint {

		a {
			padding: 8px 12px 8px 12px;
			display: inline-block;
		}
	}

	.phase_tab {
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		background-color: #f4e9ff;

		a {
			padding: 8px 12px 8px 12px;
			display: inline-block;
		}
	}

	.phase_tab:hover {
		background-color: #ccccff;
	}

	.phase_tab.active {
		background-color: #ccccff;
	}

	.sprint_tab {
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		background-color: #E9F4FF;
		
		a {
			padding: 8px 12px 8px 12px;
			display: inline-block;
		}
	}

	.sprint_tab.late {
		border-top: 3px solid red;
	}

	.sprint_tab.active {
		background-color: #AACCEE;
		font-weight: bold;
		border-bottom: solid 2px #000000;
	}

	.sprint_tab:hover {
		background-color: #AACCEE;
	}

	.sprint_tab.complete {
		background-color: #E0EDD6;
	}
}

.sprint {
	.row {
		border-top: 1px solid @row_separator_color;
		width: 100%;
		padding: 4px 0px 4px 0px;

		.row {
			padding: 0px;
		}
	}

	.headers .field {
		font-weight: bold;
	}

	.row.no_top {
		border-top: none;
	}

	.row.last {
		border-bottom: 1px solid @row_separator_color;
	}

	.field {
		display: inline-block;
	}

	.sprint_team {
		margin-top: 0px;

		.field {
			width: 11%;
		}
	}

	.team_list {
		.field {
			width: 11%;
		}
	}
}

.results {
	margin-top: 20px;

	.title {
		font-weight: bold;
		padding: 5px 0px 5px 0px;
	}

	.stories_results {
		margin-top: 10px;
		font-size: 1.4em;

		.story_result {
			padding: 2px 0px 2px 0px;
		}
	}

	.sub_items_results {
		margin-top: 10px;
		font-size: 1.4em;

		.sub_item_result {
			padding: 2px 0px 2px 0px;
		}
	}
}
