
.story_list {
	width: 100%;
	border: 1px dashed #ccc;
	padding: 10px 0px 20px 0px;
	margin-top: 20px;

	.title {
		padding: 4px 0px 4px 10px;
	}

	.header {
		padding: 4px 0px 4px 10px;
		border-top: 0px solid #c0cdcd;
		font-weight: bold;
		color: #000;
		background-color: #c0cdcd;
	}

	.tasks .header {
		background-color: #fff;
	}

	.item {
		padding: 4px 0px 4px 10px;
		border-bottom: 1px solid #c0cdcd;
	}

	.story {
		padding: 4px 0px 4px 10px;
		border-bottom: 1px solid #c0cdcd;
		background-color: #eef2f2;
	}

	.story:first-child {
		border-top: 1px solid #c0cdcd;
	}

	.field.tasks,
	.field.owner,
	.field.bugs,
	.field.role,
	.field.value,
	.field.type,
	.field.status,
	.field.usid,
	.field.itemid,
	.field.pull,
	.field.push,
	.field.check {
		width: 3%;
	}
	
	.field.details {
		width: 20%;
	}

	.field {
		width: 7%;
		display: inline-block;
	}
}

pre {
	white-space: pre-wrap;
	margin: 0px;
	font-family: arial;
}
