.section{border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;}
.section .heading{font-size:1.4em;padding:5px;}
.section .footer{padding:10px 0px 0px 5px;}
.section.data{padding:10px;}
.section.data .field .name{font-weight:bold;width:10%;}
.section.data .field .name,.section.data .field .value{display:inline-block;}
.section.links{margin-bottom:5px;text-align:right;}
.section.links .link{padding:5px;display:inline-block;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;}
.item .link{margin-left:10px;display:inline-block;font-size:0.9em;font-weight:normal;}
.item.role.primary{font-weight:bold;}
div.form{padding:10px;}
.form .fields_container{display:inline-block;padding:5px;}
.form .buttons_container{display:inline-block;padding:5px;}
.ui-datepicker{background-color:#000;color:#fff;font-size:14px;}.ui-datepicker a{color:#fff;padding:5px;display:inline-block;}
.ui-datepicker td a:hover{background-color:#00A3D7;}
.ui-datepicker-next{float:right;}
.ui-datepicker-title{padding:5px;}
.new_project{position:relative;}.new_project .new_project_form{font-size:11px;background-color:#3D6691;position:absolute;top:30px;left:0px;z-index:999;}
.project .row{border-top:1px solid #c0c0c0;width:100%;padding:4px 0px 4px 0px;}.project .row .row{padding:0px;}
.project .headers .field{font-weight:bold;}
.project .row.no_top{border-top:none;}
.project .row.last{border-bottom:1px solid #c0c0c0;}
.project .field{display:inline-block;}
.project .project_value_statements .field{width:32%;vertical-align:top;padding-right:10px;}
.project .project_value_statements .data{color:#008cb5;font-style:italic;padding:5px 0px 0px 0px;}
.project .project_backlog_data_bar{margin-top:10px;}
.project .project_backlog_data_bar .field{width:7%;}
.project .project_data_bar{margin-top:10px;}.project .project_data_bar .row{background-color:#caf0fe;}
.project .project_data_bar .field{width:8%;}
.project .project_team_bar{margin-top:20px;}.project .project_team_bar .field{width:8%;min-height:12px;}
.project .project_team_bar .field11{display:inline-block;width:91%;}.project .project_team_bar .field11 .row:first-child{border-top:none;}
.project .project_team_bar .field10{display:inline-block;width:83%;}
.project .project_team_bar .summary.row{margin-top:20px;background-color:#eee;}
.project .project_stats_bar{margin-top:20px;}.project .project_stats_bar .field{width:8%;}
.new_user_story_bar{margin-top:-1px;}
.new_story input{width:100%;padding:4px;background-color:#f7fed6;border:1px solid #a6b8b7;font-size:13px;}
.columns{width:100%;}
.column{float:left;padding:10px;}
.column.user_list{width:25%;}
.column.user_data{width:35%;}
.column.user_permissions{width:35%;}
.user_list .row{border-top:1px solid #cccccc;}.user_list .row .field{display:inline-block;padding:2px 0px 2px 0px;}
.user_list .row .field.company{width:40%;}
.user_list .row .field.users{width:58%;}
.user_list .row .field.user.selected{width:100%;background-color:#caf0fe;}
.user_list .row:first-child{border:none;}
.link.become a{color:red;font-weight:bold;}
.user_data .field{width:100%;border-bottom:1px solid #cccccc;}.user_data .field .name{display:inline-block;font-weight:bold;font-size:1.1em;width:25%;text-align:right;padding:5px;}
.user_data .field .value{display:inline-block;width:55%;text-align:left;padding:5px;}
.user_data .field:first-child{border-top:1px solid #cccccc;}
.permission_data .tabs .global_tab,.permission_data .tabs .permission_tab{display:inline-block;padding:3px;}
.permission_data .tabs .global_tab.active,.permission_data .tabs .permission_tab.active{background-color:#ccc;color:#000;}
.permission_data .user_perms{border:1px solid #000;padding:5px;}
.permission_data .link{margin-top:10px;font-weight:bold;}
.story .field.pull,.story .field.push{font-size:1.2em;font-weight:bold;}
.pull_button,.push_button{padding:3px 6px;display:inline-block;background-image:-moz-linear-gradient(center top, #ffffff 0pt, #e0e0e0 100%);background:-moz-linear-gradient(center top, #ffffff, #efefef) repeat scroll 0 0 #f6f6f6;cursor:pointer;cursor:hand;-moz-border-radius:2px;border-radius:2px;color:#333;text-shadow:0px 1px 1px #fff;border:1px solid #bbb;}
.item.status_ignored .field.type_bug,.item.status_rolled .field.type_bug,.item.status_completed .field.type_bug,.item.status_prod .field.type_bug{background-color:red;font-weight:normal;color:#fff;text-align:center;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";filter:alpha(opacity=25);-moz-opacity:0.25;-khtml-opacity:0.25;opacity:0.25;}
.type_bug a{color:#fff;}
.item.status_open .field.type_bug,.item.status_approved .field.type_bug{background-color:red;}
.item .field.type_bug{background-color:red;font-weight:normal;color:#fff;text-align:center;}
.stories .new_task{margin-bottom:0px;}.stories .new_task .link a{color:#08c;padding:10px;display:inline-block;}
.stories .new_task form.formtastic fieldset>ol>li.string input{width:100%;max-width:100%;}
.action_buttons{margin-top:5px;}.action_buttons .assign_field{display:inline-block;}.action_buttons .assign_field .user_select{display:inline-block;}
.action_buttons .button.own,.action_buttons .assign_button,.action_buttons .button.ignore{margin-right:30px;}
.action_buttons .assign_button,.action_buttons .button{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-image:-moz-linear-gradient(center top, #ffffff 0pt, #e0e0e0 100%);background:-moz-linear-gradient(center top, #ffffff, #efefef) repeat scroll 0 0 #f6f6f6;border-color:#CCCCCC #CCCCCC #AAAAAA;border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;box-shadow:0 0 1px #FFFFFF inset;color:#555555;font-size:11px;font-weight:bold;padding:8px 12px;text-shadow:0 0 0 transparent, 0 1px 0 #FFFFFF;cursor:pointer;cursor:hand;border:1px solid #CCCCCC;border-radius:3px 3px 3px 3px;display:inline-block;}
.action_buttons .assign_button:hover,.action_buttons .button:hover{background-image:-moz-linear-gradient(center top, #ffffff 0pt, #e0e0e0 100%);box-shadow:0 1px 2px rgba(0, 0, 0, 0.25),0 0 3px #ffffff inset;}
.action_buttons .assign_button.disabled,.action_buttons .button.disabled{border:1px solid #ddd;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));background:-moz-linear-gradient(#ffffff, #ededed) repeat scroll 0 0 transparent;color:#ddd;cursor:not-allowed;}
.story_list{width:100%;border-top:1px dashed #ccc;padding:6px 0px 6px 0px;margin-top:6px;margin-bottom:50px;}.story_list .title{padding:1px 0px 1px 0px;display:inline-block;}
.story_list .filter_checkboxes{display:inline-block;text-align:right;width:90%;font-size:1.3em;float:right;}.story_list .filter_checkboxes .checkbox,.story_list .filter_checkboxes .label,.story_list .filter_checkboxes .check{display:inline-block;}
.story_list .filter_checkboxes .label{margin-left:15px;}
.story_list .filter_checkboxes .check input{margin:3px 0px 0px 0px;padding:0px;width:13px;height:13px;}
.story_list .header{padding:1px 0px 1px 0px;border-bottom:1px solid #c0cdcd;font-weight:bold;margin-top:8px;margin-bottom:10px;}
.story_list .stories .header{color:#ccc;}
.story_list .tasks .header{background-color:#fff;display:none;}
.story_list .item{padding:1px 0px 1px 0px;border-bottom:1px solid #ddd;}
.story_list .story{padding:5px 0px;background-color:#ebebeb;border-bottom:1px solid #c0cdcd;font-weight:bold;border-right:1px solid #ccc;border-left:1px solid #ccc;}
.story_list .story:first-child{border-top:1px solid #c0cdcd;}
.story_list .field.task_ownership{width:15.38%;}.story_list .field.task_ownership .sub_field{display:inline-block;}
.story_list .field.task_ownership .sub_field.user{width:47%;padding:2px 0px;}
.story_list .field.task_ownership .sub_field.role{width:24%;}
.story_list .field.task_ownership .sub_field.actual_time{width:22%;}
.story_list .field.tasks{width:7%;}
.story_list .field.owner,.story_list .field.bugs,.story_list .field.act_time,.story_list .field.est_time,.story_list .field.role,.story_list .field.value,.story_list .field.type,.story_list .field.usid,.story_list .field.itemid{width:4%;}
.story_list .field.options{width:2%;text-align:center;}
.story_list .field.no_pull,.story_list .field.no_push,.story_list .field.pull,.story_list .field.push{width:2%;text-align:center;}
.story_list .field.check{width:2%;}
.story_list .field.status{width:4%;}
.story_list .field.details{width:25%;font-size:11px;line-height:1.4em;}
.story_list .field{width:6.4%;display:inline-block;vertical-align:middle;line-height:1.2em;}
.story_list .story .field{text-shadow:1px 1px #fff;}
.story_list .story.status_open .field.status,.story_list .item.status_open .field.status{color:#ff1e0a;}
.story_list .story.status_approved .field.status,.story_list .item.status_approved .field.status{color:#48bddf;font-style:italic;}
.story_list .item.status_approved{background-color:#f2f6be;}
.story_list .item.status_in_progress{background-color:#caf1fd;}
.story_list .item.status_waiting{background-color:#FFF1D8;}
.story_list .item.status_completed{background-color:#e0edd6;}
.story_list .item.status_dev{background-color:#CCE8BA;}
.story_list .item.status_stage{background-color:#B0DD95;}
.story_list .item.status_prod{background-color:#93D06F;}
.story_list .item.status_tested{background-color:#96e8d2;}
.story_list .item.status_rejected{background-color:#F9D3E0;}
.story_list .item.status_ignored{background-color:#fff;color:#bbb;}.story_list .item.status_ignored .field{text-decoration:line-through;}
.push{float:right;}
pre{white-space:pre-wrap;margin:0px;font-family:arial;}
.best_in_place{width:100%;display:block;padding:3px 0px;font-family:arial;white-space:pre-wrap;color:#08c;cursor:pointer;cursor:hand;}
.type_bug .best_in_place{color:white;text-shadow:none;}
.story{background-color:#eaeaea;background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));background:-moz-linear-gradient(#fafafa, #eaeaea) repeat scroll 0 0 transparent;border-top:1px solid #ccc;}
.story.value_trivial{border-top:3px solid #aaa;}
.story.value_low{border-top:3px solid #777;}
.story.value_medium{border-top:3px solid #333;}
.story.value_high{border-top:3px solid orange;}
.story.value_critical{border-top:3px solid red;}
.stories{border-radius:3px 3px 3px 3px;padding:3px;background:#eee;}
.item{background:#fff;border-right:1px solid #ccc;border-left:1px solid #ccc;}
.sprint_navigation .sprint_tab{display:inline-block;font-size:11px;font-weight:bold;background-color:#E9F4FF;}.sprint_navigation .sprint_tab a{padding:8px 12px 8px 12px;display:inline-block;}
.sprint_navigation .sprint_tab.late{border-top:3px solid red;}
.sprint_navigation .sprint_tab.active{background-color:#AACCEE;font-weight:bold;border-bottom:solid 2px #000000;}
.sprint_navigation .sprint_tab:hover{background-color:#AACCEE;}
.sprint_navigation .sprint_tab.complete{background-color:#E0EDD6;}
.sprint .row{border-top:1px solid #c0c0c0;width:100%;padding:4px 0px 4px 0px;}.sprint .row .row{padding:0px;}
.sprint .headers .field{font-weight:bold;}
.sprint .row.no_top{border-top:none;}
.sprint .row.last{border-bottom:1px solid #c0c0c0;}
.sprint .field{display:inline-block;}
.sprint .sprint_team{margin-top:0px;}.sprint .sprint_team .field{width:11%;}
.sprint .team_list .field{width:11%;}
.log_event{border:1px solid #aaa;}
.log_event.become_user{border:1px solid red;}
.log_event{font-size:10px;padding:6px;margin-top:5px;background:#eee;line-height:1.4em;}.log_event .timestamp{color:#999;margin:0px 20px;}
.log_event a{color:#008cb5;font-weight:bold;}
.debug1{border:1px solid #f00;}
.debug2{border:1px solid #0f0;}
.debug3{border:1px solid #00f;}
a{text-decoration:none;color:#444444;}
a:hover{color:#444444;}
body{background-color:#fdfdfd;color:#444444;padding:0px;margin:0px;font-family:"lucida grande";font-size:9px;}
.clear{clear:both;}
.message{width:50%;text-align:left;padding:10px;}
.message.notice{color:#00c540;background-color:#fdfffd;}
.message.error{border:1px solid #f00510;color:#f00510;background-color:#fffdfd;}
.page_header{float:right;width:300px;font-size:1em;text-align:right;padding:6px;color:#777;}
.page_header span.version{font-size:0.9em;}
.page{padding:0px 10px;}
.file_list .indent{padding-left:15px;display:inline;}
.chat{border:1px solid black;border-right:0;background-color:white;width:310px;position:fixed;top:25px;right:0px;height:300px;}
.sub_navigation{display:inline-block;}
.sub_navigation.project_navigation{background-color:#444444;}
.sub_navigation.project_title .project_title{color:#444444;}
.navigation.old{background-color:#000;height:20px;}.navigation.old .link{display:inline-block;}
.navigation.old .link.active{background-color:#222222;}
.navigation.old .link a{color:#ffffff;font-weight:bold;padding:5px;display:inline-block;}
.navigation.old .link:hover{background-color:#222222;}
.navigation.old .link:hover a{color:#ffffff;}
.navigation{background-color:#3d6691;height:45px;border-bottom:1px solid #30506D;border-top:1px solid #4A7DA8;}.navigation .title{color:#ffffff;font-weight:bold;display:inline-block;padding:8px 10px 6px 14px;font-size:11px;text-shadow:#183048 0px -1px 1px;float:left;margin-top:8px;}
.navigation .new_project{color:#ffffff;padding:8px 10px 6px 10px;background-color:#4A7DA8;text-shadow:0 -1px 1px #253e5c;border:1px solid #26445F;display:inline-block;font-size:11px;float:left;margin-top:8px;margin-right:4px;background-image:-moz-linear-gradient(center top, #4a7da8 0pt, #304ea6 100%);border-color:#26445F #26445F #000000;box-shadow:0 1px 0 rgba(255, 255, 255, 0.45) inset;color:#FFFFFF;text-shadow:0 0 0 transparent,0 1px 0 rgba(0, 0, 0, 0.45);cursor:pointer;cursor:hand;}
.navigation .project_dropdown{display:inline-block;position:relative;border:1px solid #26445F;background-color:#4A7DA8;background-image:url([object Object]);float:left;margin-top:8px;margin-right:4px;cursor:pointer;cursor:hand;}.navigation .project_dropdown .project_dropdown:hover{background:#5e92c3;}
.navigation .project_dropdown .title{color:#ffffff;display:inline-block;padding:8px 10px 6px 10px;width:245px;margin-left:0px;font-size:11px;margin-top:0px;}.navigation .project_dropdown .title .title:hover{background:#5f93bf;}
.navigation .project_dropdown .title .name{display:inline-block;font-weight:bold;}
.navigation .project_dropdown .project_dropdown_menu{position:absolute;z-index:999;background:#3d6691;color:#fff;top:28px;}.navigation .project_dropdown .project_dropdown_menu .row:first-child{border:none;}
.navigation .project_dropdown .project_dropdown_menu .row{width:265px;border-top:1px solid #26445F;}
.navigation .project_dropdown .project_dropdown_menu .headers{font-weight:bold;}.navigation .project_dropdown .project_dropdown_menu .headers .field.bl,.navigation .project_dropdown .project_dropdown_menu .headers .field{display:none;}
.navigation .project_dropdown .project_dropdown_menu .field{display:inline-block;padding:0px;}
.navigation .project_dropdown .project_dropdown_menu .field.expand{width:0px;padding:2px 5px 2px 5px;}
.navigation .project_dropdown .project_dropdown_menu .field.client{width:80px;text-align:right;}
.navigation .project_dropdown .project_dropdown_menu .field.bl .row1:first-child{border:none;}
.navigation .project_dropdown .project_dropdown_menu .field.bl .row1{width:169px;border-top:1px solid #26445F;}.navigation .project_dropdown .project_dropdown_menu .field.bl .row1 a{width:150px;padding:4px 10px;display:block;color:#fff;background:#4A7DA8;}
.navigation .project_dropdown .project_dropdown_menu .field.bl .row1 a:hover{background:#5f93bf;}
.navigation .nav_tabs{display:inline-block;}.navigation .nav_tabs .nav_tab{font-weight:bold;color:#ffffff;display:inline-block;}.navigation .nav_tabs .nav_tab a{color:#ffffff;padding:8px 12px 6px 12px;background-color:#4A7DA8;text-shadow:0 -1px 1px #253e5c;border:1px solid #26445F;display:inline-block;font-size:11px;margin-right:-4px;margin-top:8px;}
.navigation .nav_tabs .nav_tab a:hover{background-color:#5f93bf;}
.navigation .nav_tabs .nav_tab.active a{background-color:#31577E;}
.navigation .nav_user_menu{padding:10px 10px 0px 0px;float:right;display:inline-block;color:#fff;position:absolute;right:0px;}.navigation .nav_user_menu .nav_sub_menu{display:inline-block;}.navigation .nav_user_menu .nav_sub_menu a{color:#ffffff;padding:6px 10px 3px 10px;background-color:#4A7DA8;text-shadow:0 -1px 1px #253e5c;border:1px solid #26445F;display:inline-block;font-size:9px;text-transform:uppercase;font-weight:bold;margin-left:-4px;}
.navigation .nav_user_menu .nav_sub_menu a:hover{background:#5f93bf;}
.navigation .nav_user_menu .profile{margin-right:10px;display:inline-block;}
.navigation .nav_user_menu .nav_sub_menu.active a{background:#31577E;}
.navigation .nav_user_menu .nav_sub_menu:hover a{background:#5f93bf;}
.project .project_value_statements .data{font-size:10px;vertical-align:top;line-height:1.2em;}
.story_list .title{font-size:11px;font-weight:bold;padding:1px 0 0 10px;}
input,textarea,.best_in_place{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.page .story_list select{background:transparent;width:100%;padding:0px;font-size:9px;border:0px solid;}
.page .story_list input,.page textarea{width:100%;display:inline-block;border:0px solid;background:transparent;font-size:10px;font-family:arial;background-color:#ffc;padding:5px;border-top:1px solid #D8EB5E;border-left:1px solid #D8EB5E;color:#08c;}
.page .story_list .new_sub_item input{background-color:#F7FED6;border-top:0px;border:0px;border-right:1px solid #ccc;border-left:1px solid #999;border-bottom:1px solid #fff;margin-bottom:20px;border-top:1px solid #999;}
.page .story_list .new_sub_item input:hover{background-color:#ffc;}
iframe.test_output_url{width:100%;min-height:600px;height:600px;border:0;}
form.formtastic fieldset.inputs{padding:5px;}
form.formtastic fieldset ol li fieldset ol{padding:3px 0px 3px 0px;}
form.formtastic fieldset ol li{margin:3px 0px 3px 0px;padding:2px 0px 2px 0px;}
form.formtastic .fields_container{width:25%;}
form.formtastic fieldset ol li fieldset legend label{width:25%;}
form.formtastic fieldset ol li fieldset ol{padding-left:25%;}
form.formtastic fieldset ol li label{width:25%;}
form.formtastic fieldset.buttons{padding-left:5px;}
form.formtastic fieldset.buttons ol li input{padding:5px;}
.active{background:none;}
.content_table{font-size:14px;text-align:left;padding:6px;}
.content_table data_row{padding:3px 0px;}
h3{font-size:16px;}
.create{color:#ffffff;padding:8px 15px 6px 15px;background-color:#4A7DA8;text-shadow:0 -1px 1px #253e5c;border:1px solid #26445F;display:inline-block;font-size:11px;margin-right:-4px;margin-top:8px;}
#answer_dialog input,#question_dialog input{font-size:1.5em;}
