.section{border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;}
.section .heading{font-size:1.4em;padding:5px;}
.section .footer{padding:10px 0px 0px 5px;}
.section.data{padding:10px;}
.section.data .field .name{font-weight:bold;width:10%;}
.section.data .field .name,.section.data .field .value{display:inline-block;}
.section.links{margin-bottom:5px;text-align:right;}
.section.links .link{padding:5px;display:inline-block;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;}
.item .link{margin-left:10px;display:inline-block;font-size:0.9em;font-weight:normal;}
.item.role.primary{font-weight:bold;}
div.form{padding:10px;}
.form .fields_container{display:inline-block;padding:5px;}
.form .buttons_container{display:inline-block;padding:5px;}
.new_project{position:relative;}.new_project .new_project_form{font-size:0.7em;background-color:#000;position:absolute;top:30px;left:0px;z-index:999;}
.project .row{border-top:1px solid #c0c0c0;width:100%;padding:4px 0px 4px 10px;}.project .row .row{padding:0px;}
.project .headers .field{font-weight:bold;}
.project .row.no_top{border-top:none;}
.project .row.last{border-bottom:1px solid #c0c0c0;}
.project .field{display:inline-block;}
.project .project_value_statements .field{width:33%;}
.project .project_value_statements .data{color:#008cb5;font-style:italic;padding:10px 0px 10px 10px;}
.project .project_backlog_data_bar{margin-top:10px;}.project .project_backlog_data_bar .row{background-color:#caf0fe;}
.project .project_backlog_data_bar .field{width:7%;}
.project .project_data_bar{margin-top:10px;}.project .project_data_bar .row{background-color:#caf0fe;}
.project .project_data_bar .field{width:8%;}
.project .project_team_bar{margin-top:20px;}.project .project_team_bar .field{width:8%;}
.project .project_team_bar .field11{display:inline-block;width:91%;}.project .project_team_bar .field11 .row:first-child{border-top:none;}
.project .project_team_bar .field10{display:inline-block;width:83%;}
.project .project_team_bar .summary.row{margin-top:20px;background-color:#eee;}
.project .project_stats_bar{margin-top:20px;}.project .project_stats_bar .field{width:8%;}
.project .new_user_story_bar{margin-top:20px;}.project .new_user_story_bar .new_story input{width:100%;font-size:1.5em;padding:5px;background-color:#f7fed6;border:1px solid #a6b8b7;}
.columns{width:100%;}
.column{float:left;padding:10px;}
.column.user_list{width:25%;}
.column.user_data{width:35%;}
.column.user_permissions{width:35%;}
.user_list .row{border-top:1px solid #cccccc;}.user_list .row .field{display:inline-block;padding:2px 0px 2px 0px;}
.user_list .row .field.company{width:40%;}
.user_list .row .field.users{width:58%;}
.user_list .row .field.user.selected{width:100%;background-color:#caf0fe;}
.user_list .row:first-child{border:none;}
.user_data .field{width:100%;border-bottom:1px solid #cccccc;}.user_data .field .name{display:inline-block;font-weight:bold;font-size:1.1em;width:25%;text-align:right;padding:5px;}
.user_data .field .value{display:inline-block;width:55%;text-align:left;padding:5px;}
.user_data .field:first-child{border-top:1px solid #cccccc;}
.permission_data .tabs .global_tab,.permission_data .tabs .permission_tab{display:inline-block;padding:3px;}
.permission_data .tabs .global_tab.active,.permission_data .tabs .permission_tab.active{background-color:#ccc;color:#000;}
.permission_data .user_perms{border:1px solid #000;padding:5px;}
.permission_data .link{margin-top:10px;font-weight:bold;}
.story_list{width:100%;border:1px dashed #ccc;padding:10px 0px 20px 0px;margin-top:20px;}.story_list .title{padding:4px 0px 4px 10px;}
.story_list .header{padding:4px 0px 4px 10px;border-top:1px solid #c0cdcd;font-weight:bold;color:#000;background-color:#c0cdcd;}
.story_list .story{padding:4px 0px 4px 10px;border-bottom:1px solid #c0cdcd;}
.story_list .story:first-child{border-top:1px solid #c0cdcd;}
.story_list .field.tasks,.story_list .field.bugs,.story_list .field.value,.story_list .field.status,.story_list .field.usid,.story_list .field.pull,.story_list .field.push,.story_list .field.check{width:3%;}
.story_list .field.details{width:20%;}
.story_list .field{width:7%;display:inline-block;}
.debug1{border:1px solid #f00;}
.debug2{border:1px solid #0f0;}
.debug3{border:1px solid #00f;}
a{text-decoration:none;color:#444444;}
a:hover{color:#444444;}
body{background-color:#fdfdfd;color:#444444;padding:0px;margin:0px;font-family:sans-serif;font-size:10px;}
.clear{clear:both;}
.message{margin-top:10px;width:50%;margin-left:25%;text-align:center;padding:5px;}
.message.notice{border:1px solid #00c540;color:#00c540;background-color:#fdfffd;}
.message.error{border:1px solid #f00510;color:#f00510;background-color:#fffdfd;}
.page_header{padding-left:10px;height:25px;float:right;width:300px;background-color:#434343;color:#ffffff;font-size:1.4em;}
.page_header span.version{font-size:0.6em;}
.page{padding:20px;}
.file_list .indent{padding-left:15px;display:inline;}
.chat{border:1px solid black;border-right:0;background-color:white;width:310px;position:fixed;top:25px;right:0px;height:300px;}
.sub_navigation{display:inline-block;}
.sub_navigation.project_navigation{background-color:#444444;}
.sub_navigation.project_title .project_title{color:#444444;}
.navigation.old{background-color:#444444;border-bottom:2px solid #ffc000;height:25px;}.navigation.old .link{display:inline-block;padding:5px;}
.navigation.old .link.active{background-color:#222222;}
.navigation.old .link a{color:#ffffff;font-weight:bold;}
.navigation.old .link:hover{background-color:#222222;}
.navigation.old .link:hover a{color:#ffffff;}
.navigation{height:30px;background-color:#000000;padding:0px 20px 0px 20px;}.navigation .title{color:#ffffff;font-weight:bold;display:inline-block;padding:7px 10px 7px 0px;}
.navigation .new_project{display:inline-block;margin-left:15px;background-color:#00a3d7;font-weight:bold;font-size:1.2em;padding:7px 10px 7px 10px;color:#fff;}
.navigation .project_dropdown{display:inline-block;position:relative;}.navigation .project_dropdown .title{color:#ffffff;display:inline-block;background-color:#869b9a;padding:7px 10px 7px 10px;width:300px;margin-left:0px;}.navigation .project_dropdown .title .name{display:inline-block;font-weight:bold;}
.navigation .project_dropdown .project_dropdown_menu{position:absolute;z-index:999;background-color:#eff3f3;}.navigation .project_dropdown .project_dropdown_menu .row:first-child{border:none;}
.navigation .project_dropdown .project_dropdown_menu .row{width:450px;border-top:1px solid #c0cdcd;}
.navigation .project_dropdown .project_dropdown_menu .headers{font-weight:bold;background-color:#dfe3e3;}.navigation .project_dropdown .project_dropdown_menu .headers .field.bl,.navigation .project_dropdown .project_dropdown_menu .headers .field{background-color:#dfe3e3;}
.navigation .project_dropdown .project_dropdown_menu .field{display:inline-block;padding:4px 10px 4px 10px;}
.navigation .project_dropdown .project_dropdown_menu .field.expand{width:30px;padding:2px 5px 2px 5px;}
.navigation .project_dropdown .project_dropdown_menu .field.client{width:142px;}
.navigation .project_dropdown .project_dropdown_menu .field.bl{width:222px;background-color:#d2fffd;}.navigation .project_dropdown .project_dropdown_menu .field.bl .row1:first-child{border:none;}
.navigation .project_dropdown .project_dropdown_menu .field.bl .row1{display:inline-block;width:100%;border-top:1px solid #c0cdcd;padding:4px 0px 4px 0px;}
.navigation .nav_tabs{margin-left:10px;display:inline-block;}.navigation .nav_tabs .nav_tab{padding:3px 10px 7px 10px;margin-left:3px;background-color:#5e7373;font-weight:bold;color:#ffffff;display:inline-block;}.navigation .nav_tabs .nav_tab a{color:#ffffff;}
.navigation .nav_tabs .nav_tab:hover{background-color:#ffffff;color:#000000;}.navigation .nav_tabs .nav_tab:hover a{color:#000000;}
.navigation .nav_tabs .nav_tab.active{background-color:#ffffff;color:#000000;}.navigation .nav_tabs .nav_tab.active a{color:#000000;}
.navigation .nav_user_menu{padding:0px 10px 0px 0px;float:right;display:inline-block;}.navigation .nav_user_menu .nav_sub_menu{padding:7px 10px 8px 10px;font-weight:bold;display:inline-block;color:#ffffff;margin-right:10px;}.navigation .nav_user_menu .nav_sub_menu a{color:#ffffff;}
.navigation .nav_user_menu .nav_sub_menu.active,.navigation .nav_user_menu .nav_sub_menu:hover{background-color:#ffffff;color:#000000;}.navigation .nav_user_menu .nav_sub_menu.active a,.navigation .nav_user_menu .nav_sub_menu:hover a{color:#000000;}
.ui-datepicker{background-color:#000;color:#fff;}.ui-datepicker a{color:#fff;}
form.formtastic{font-size:1.2em;}
form.formtastic fieldset.inputs{padding:5px;}
form.formtastic fieldset ol li fieldset ol{padding:3px 0px 3px 0px;}
form.formtastic fieldset ol li{margin:3px 0px 3px 0px;padding:2px 0px 2px 0px;}
form.formtastic .fields_container{width:25%;}
form.formtastic fieldset ol li fieldset legend label{width:25%;}
form.formtastic fieldset ol li fieldset ol{padding-left:25%;}
form.formtastic fieldset ol li label{width:25%;}
form.formtastic fieldset.buttons{padding-left:5px;}
form.formtastic fieldset.buttons ol li input{font-size:1.2em;padding:5px;}
