.table a { color: #9f9d90; }
.table {
  background-color: #cdc7ad;
  color: #ffffff;
  border: 1px solid #506264;
}
.table .header {
  background-color: #222d31;
  color: #ffffff;
  font-weight: bold;
}
.table .footer {
  color: #ffffff;
  font-weight: bold;
}
.table .footer.positive { background-color: #002d01; }
.table .footer.negative { background-color: #52181c; }
.table .header .field { text-align: center; }
.table .header .field.first { text-align: left; }
.table .row {
  padding: 5px;
  border-top: 1px solid #506264;
}
.table .row .field {
  display: inline-block;
  width: 10%;
}
.table .row .links { display: inline-block; }
.table .row .links .link { display: inline-block; }
.table .row .field.date { width: 7%; }
.table .row .field.description { width: 25%; }
.table .row .field.tags { width: 25%; }
.table .row .field.amount { text-align: center; }
.table .row.income { background-color: #225d31; }
.table .row.expense { background-color: #522d31; }
.section {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  background-color: #cdc7ad;
}
.section .heading {
  font-size: 1.4em;
  background-color: #cdc7ad;
  padding: 5px;
  border-bottom: 2px solid #cdc7ad;
}
.section .footer {
  padding: 10px 0px 0px 5px;
  background-color: #cdc7ad;
}
.section .pre_new_link {
  padding: 0px 0px 10px 5px;
  background-color: #cdc7ad;
}
.section.data { padding: 10px; }
.section.data .field .name {
  font-weight: bold;
  width: 10%;
}
.section.data .field .name { display: inline-block; }
.section.data .field .value { display: inline-block; }
.section.links {
  margin-bottom: 5px;
  text-align: right;
}
.section.links .link {
  padding: 5px;
  display: inline-block;
  border: 1px solid #222d31;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
}
.table a { color: #9f9d90; }
.table {
  background-color: #cdc7ad;
  color: #ffffff;
  border: 1px solid #506264;
}
.table .header {
  background-color: #222d31;
  color: #ffffff;
  font-weight: bold;
}
.table .footer {
  color: #ffffff;
  font-weight: bold;
}
.table .footer.positive { background-color: #002d01; }
.table .footer.negative { background-color: #52181c; }
.table .header .field { text-align: center; }
.table .header .field.first { text-align: left; }
.table .row {
  padding: 5px;
  border-top: 1px solid #506264;
}
.table .row .field {
  display: inline-block;
  width: 10%;
}
.table .row .links { display: inline-block; }
.table .row .links .link { display: inline-block; }
.table .row .field.date { width: 7%; }
.table .row .field.description { width: 25%; }
.table .row .field.tags { width: 25%; }
.table .row .field.amount { text-align: center; }
.table .row.income { background-color: #225d31; }
.table .row.expense { background-color: #522d31; }
div.form {
  padding: 10px;
  border: 1px solid #506264;
}
.form .fields_container {
  display: inline-block;
  padding: 5px;
}
.form .buttons_container {
  display: inline-block;
  padding: 5px;
}
.debt.general_debt, .event {
  padding: 10px;
  border: 1px solid #222d31;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  margin-bottom: 5px;
}
.debt .type {
  width: 6%;
  display: inline-block;
  font-size: 1.6em;
}
.event .type {
  width: 6%;
  display: inline-block;
  font-size: 1.6em;
}
.debt .brief_content {
  display: inline-block;
  margin-left: 5px;
}
.event .brief_content {
  display: inline-block;
  margin-left: 5px;
}
.debt .brief_content .field {
  display: inline-block;
  margin-left: 15px;
  font-size: 1.3em;
}
.event .brief_content .field {
  display: inline-block;
  margin-left: 15px;
  font-size: 1.3em;
}
.debt .long_content {
  margin-top: 5px;
  display: none;
}
.event .long_content {
  margin-top: 5px;
  display: none;
}
.event.charge { background-color: #d2e4fc; }
.event.payment { background-color: #d9ffa9; }
.event.note { background-color: #ffd0d4; }
.event.phone_call { background-color: #f0d878; }
.event .long_content .content { margin-top: 5px; }
.debt.general_debt { background-color: #ff9999; }
.debt .field.name {
  display: inline-block;
  font-weight: bold;
}
.event .field.name {
  display: inline-block;
  font-weight: bold;
}
.debt .field.value { display: inline-block; }
.event .field.value { display: inline-block; }
.form.new_phone_call { background-color: #f0d878; }
.form.new_note { background-color: #ffd0d4; }
.form.new_payment { background-color: #d9ffa9; }
.form.new_charge { background-color: #d2e4fc; }
.form.new_debt { background-color: #ff9999; }
.section.links .link.payment { background-color: #d9ffa9; }
.section.links .link.charge { background-color: #d2e4fc; }
.section.links .link.debt { background-color: #ff9999; }
.section.links .link.note { background-color: #ffd0d4; }
.section.links .link.phone_call { background-color: #f0d878; }
a {
  text-decoration: none;
  color: #5a584b;
}
a:hover { color: #5a584b; }
body {
  background-color: #cdc7ad;
  color: #5a584b;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 12px;
}
.message {
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  padding: 5px;
}
.message.notice {
  border: 1px solid #005d01;
  color: #005d01;
  background-color: #427d51;
}
.message.error {
  border: 1px solid #520000;
  color: #520000;
  background-color: #674246;
}
.page_header {
  width: auto;
  background-color: #6c7b80;
  color: #ffffff;
  border-bottom: 3px solid #506264;
  padding: 20px;
  font-size: 2em;
}
.page_header span.version { font-size: 0.6em; }
.page { padding: 20px; }
.sub_navigation { display: inline-block; }
.navigation {
  background-color: #222d31;
  padding: 0px 20px 0px 20px;
  border-bottom: 3px solid #506264;
  color: #d5ded9;
}
.navigation .link {
  display: inline-block;
  padding: 5px;
}
.navigation .link a {
  color: #ffffff;
  font-weight: bold;
}
.navigation .link:hover { background-color: #6c7b80; }
.navigation .link:hover a { color: #ffffff; }
form.formtastic { font-size: 1.2em; }
form.formtastic fieldset.inputs { padding: 5px; }
form.formtastic fieldset ol li fieldset ol { padding: 3px 0px 3px 0px; }
form.formtastic fieldset ol li {
  margin: 3px 0px 3px 0px;
  padding: 2px 0px 2px 0px;
}
form.formtastic .fields_container { width: 25%; }
form.formtastic fieldset ol li fieldset legend label { width: 25%; }
form.formtastic fieldset ol li fieldset ol { padding-left: 25%; }
form.formtastic fieldset ol li label { width: 25%; }
form.formtastic fieldset.buttons { padding-left: 5px; }
form.formtastic fieldset.buttons ol li input {
  font-size: 1.2em;
  padding: 5px;
}
