
@import "palette";

.section {
	//border: 1px solid @section_border_color;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	background-color: @section_background_color;
}

.section .heading {
	font-size: 1.4em;
	background-color: @section_heading_background_color;
	padding: 5px;
	border-bottom: 2px solid @section_heading_border_color;
}

.section .footer {
	padding: 10px 0px 0px 5px;
	background-color: @section_heading_background_color;
}

.section .pre_new_link {
	padding: 0px 0px 10px 5px;
	background-color: @section_heading_background_color;
}

.section.data {
	padding: 10px;
}

.section.data .field .name {
	font-weight: bold;
	width: 10%;
}

.section.data .field .name,
.section.data .field .value {
	display: inline-block;
}

.section.events {
}

