.table a { color: #4b5558; }
.table {
  background-color: #a8a878;
  border: 1px solid #839074;
}
.table .header {
  background-color: #939e78;
  color: #061013;
  font-weight: bold;
}
.table .footer {
  color: #061013;
  font-weight: bold;
}
.table .footer.positive { background-color: #639e48; }
.table .footer.negative { background-color: #c38963; }
.table .header .field { text-align: center; }
.table .header .field.first { text-align: left; }
.table .row {
  padding: 5px;
  border-top: 1px solid #839074;
}
.table .row .field {
  display: inline-block;
  width: 10%;
}
.table .row .links { display: inline-block; }
.table .row .links .link { display: inline-block; }
.table .row .field.date { width: 7%; }
.table .row .field.description { width: 25%; }
.table .row .field.tags { width: 25%; }
.table .row .field.amount { text-align: center; }
.table .row.income { background-color: #93ce78; }
.table .row.expense { background-color: #c39e78; }
.section {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  background-color: #a8a878;
}
.section .heading {
  font-size: 1.4em;
  background-color: #cdcd76;
  padding: 5px;
  border-bottom: 2px solid #cdcd76;
}
.section .footer {
  padding: 10px 0px 0px 5px;
  background-color: #cdcd76;
}
.section .pre_new_link {
  padding: 0px 0px 10px 5px;
  background-color: #cdcd76;
}
.table a { color: #4b5558; }
.table {
  background-color: #a8a878;
  border: 1px solid #839074;
}
.table .header {
  background-color: #939e78;
  color: #061013;
  font-weight: bold;
}
.table .footer {
  color: #061013;
  font-weight: bold;
}
.table .footer.positive { background-color: #639e48; }
.table .footer.negative { background-color: #c38963; }
.table .header .field { text-align: center; }
.table .header .field.first { text-align: left; }
.table .row {
  padding: 5px;
  border-top: 1px solid #839074;
}
.table .row .field {
  display: inline-block;
  width: 10%;
}
.table .row .links { display: inline-block; }
.table .row .links .link { display: inline-block; }
.table .row .field.date { width: 7%; }
.table .row .field.description { width: 25%; }
.table .row .field.tags { width: 25%; }
.table .row .field.amount { text-align: center; }
.table .row.income { background-color: #93ce78; }
.table .row.expense { background-color: #c39e78; }
div.form { border: 1px solid #839074; }
a {
  text-decoration: none;
  color: #061013;
}
a:hover { color: #061013; }
body {
  background-color: #cdcd76;
  color: #061013;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 12px;
}
.message {
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  padding: 5px;
}
.message.notice {
  border: 1px solid #03ce48;
  color: #03ce48;
  background-color: #b3ee98;
}
.message.error {
  border: 1px solid #c33e18;
  color: #c33e18;
  background-color: #d8b38d;
}
.page_header {
  width: 1224px;
  background-color: #a8a878;
  border-bottom: 3px solid #839074;
  padding: 20px;
  font-size: 2em;
}
.page { padding: 20px; }
.sub_navigation { display: inline-block; }
.navigation {
  background-color: #939e78;
  padding: 0px 20px 0px 20px;
  border-bottom: 3px solid #839074;
  color: #d5ded9;
}
.navigation .link {
  display: inline-block;
  padding: 5px;
}
.navigation .link a {
  color: #061013;
  font-weight: bold;
}
.navigation .link:hover { background-color: #a8a878; }
.navigation .link:hover a { color: #061013; }
form.formtastic fieldset.inputs { padding: 5px; }
form.formtastic fieldset ol li { margin: 3px 0px 3px 0px; }
form.formtastic > fieldset > ol > li > fieldset > legend > label { width: 15%; }
form.formtastic > fieldset > ol > li > fieldset ol { padding-left: 15%; }
form.formtastic > fieldset > ol > li > label { width: 15%; }
form.formtastic fieldset.buttons { padding-left: 5px; }
form.formtastic fieldset.buttons ol li input {
  border: 1px solid #061013;
  background-color: #939e78;
}
form.formtastic fieldset.buttons ol li input:hover { background-color: #cdcd76; }
