.user_data
	.field
		.name= "First Name"
		.value= best_in_place user, :first_name
	.field
		.name= "Last Name"
		.value= best_in_place user, :last_name
:javascript
	$('.best_in_place').best_in_place();
