- cache [current_user, 'page_header'] do
	%div.page_header
		= "homebrew.darmasoft.net"
		%span.version
			= @VERSION
	= render :partial => 'shared/old_navigation'
	= render :partial => 'shared/navigation'
