- cache [current_user, @project, params[:controller], params[:action], 'page_header'] do
	%div.page_header
		= "elm.darmasoft.net"
		%span.version
			= @VERSION
	= render :partial => 'shared/old_navigation'
	= render :partial => 'shared/navigation'
