:javascript
	$(document).bind('keypress', 'u', Keyboard.focusNewStoryInput);
	$(document).bind('keypress', 't', Keyboard.focusNewTaskInput);
	$(document).bind('keypress', 'w', Keyboard.goToPreviousStory);
	$(document).bind('keypress', 's', Keyboard.goToNextStory);
	$(document).bind('keypress', 'h', Keyboard.openHelp);
	$(document).bind('keypress', 'a', Keyboard.scrollTop);
	$(document).bind('keypress', 'z', Keyboard.scrollBottom);

	$(document).bind('keypress', '1', Keyboard.addNumberToInput);
	$(document).bind('keypress', '2', Keyboard.addNumberToInput);
	$(document).bind('keypress', '3', Keyboard.addNumberToInput);
	$(document).bind('keypress', '4', Keyboard.addNumberToInput);
	$(document).bind('keypress', '5', Keyboard.addNumberToInput);
	$(document).bind('keypress', '6', Keyboard.addNumberToInput);
	$(document).bind('keypress', '7', Keyboard.addNumberToInput);
	$(document).bind('keypress', '8', Keyboard.addNumberToInput);
	$(document).bind('keypress', '9', Keyboard.addNumberToInput);
	$(document).bind('keypress', '0', Keyboard.addNumberToInput);
	$(document).bind('keypress', 'g', Keyboard.goToStory);
	$(document).bind('keypress', 'c', Keyboard.clearNumberInput);

	Keyboard.highlightCurrent();

