%div.row
	%div.field.first.name
		= link_to table_row.name, table_row
	-# %div.field.rank
		= table_row.rank
	-# %div.field.verbose_rank_string{:style => "width:20%;"}
		= table_row.verbose_rank_string
