
.event.payment
	.type Payment
	.brief_content
		.field.amount
			= number_to_currency(event.amount)
	.long_content
		.date
			.field.name Date
			.field.value
				= event.event_date.strftime("%Y.%m.%d")
		.description
			.field.name Description
			.field.value
				= event.description
