- if balance != @account.balance
	%div.footer.row{:class => (balance >= 0) ? "positive" : "negative"}
		%div.field.first.date
		%div.field.description Total
		%div.field.tags
		%div.field.amount
			= number_to_currency(balance.abs)
%div.footer.row{:class => (@account.balance >= 0) ? "positive" : "negative"}
	%div.field.first.date
	%div.field.description Balance
	%div.field.tags
	%div.field.amount
		= number_to_currency(@account.balance.abs)
%div.footer.row{:class => "positive"}
	%div.field.first.date
	%div.field.description Cash Balance
	%div.field.tags
	%div.field.amount
		= number_to_currency(@account.cash_balance.abs)
%div.footer.row{:class => ((@account.balance + @account.cash_balance) >= 0) ? "positive" : "negative"}
	%div.field.first.date
	%div.field.description Net
	%div.field.tags
	%div.field.amount
		= number_to_currency((@account.cash_balance + @account.balance).abs)
