
.event.charge
	.type Charge
	.brief_content
		.amount
			= number_to_currency(event.amount)
	.long_content
		.date
			.field.name Date
			.field.value
				= event.event_date.strftime("%Y.%m.%d %H:%M:%S")
		.description
			.field.name Description
			.field.value
				= event.description
